<div class="example1-container">
  <h1>DIRECTIVA DE EJEMPLO 1</h1>
  <p>La directiva puede ser un elemento o un atributo. Es recomendable que si 
  definimos un template, la directiva sea un elemento.</p>
  </br>
  <p>¿Por qué?</p>
  <p>Porque tiene más sentido que un elemento sea reemplazado por un template y que un atributo busque
    extender la funcionalidad de un elemento</p>
  <!-- este elemento será el encargado de "rescatar" el html inserto en el interior del elemento que contiene nuestra directiva -->
  <ng-transclude></ng-transclude>
</div>